/*
    Document   : contact.styl
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/

/* Override Holder */
.contact
  & > .holder
    max-width 680px


  /* Block Contact - Contact Info */
  .contact-info
    margin-bottom 35px


  /* Block Contact - Contact Form */
  .contact-form
    min-height 150px

    /* Chrome/Opera/Safari */
    ::-webkit-input-placeholder
      color #999
    /* Firefox 19+ */
    ::-moz-placeholder
      color #999
    /* IE 10+ */
    :-ms-input-placeholder
      color #999
    /* Firefox 18- */
    :-moz-placeholder
      color #999


    input[type=text],
    textarea
      appearance none
      border 1px solid #dcdcdc
      border-radius 0
      display block
      margin-bottom 10px
      padding 5px
      width 100%

    textarea
      height 125px
      resize none

    input[type=submit]
      appearance none
      background-color #dcdcdc
      border none
      border-radius 0
      color #666
      cursor pointer
      display block
      margin-left auto
      max-width 180px
      padding 5px
      text-align center
      width 100%
