/*
    Document   : footer.styl
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/

.footer
  background-color #f1f1f1
  color #9a9a9a
  font-size 11px
  padding 15px 0

  .goplek-logo
    display block
    margin-left auto
    width 50px
