/*
    Document   : layout.styl
    Created on : 21/09/2017, 07:050:15 PM
    Author     : cesarmejia
    Description:
*/

body
  -webkit-font-smoothing antialiased
  -moz-font-smoothing antialiased
  -ms-font-smoothing antialiased
  -o-font-smoothing antialiased
  font-smoothing antialiased

  -webkit-text-rendering optimizeLegibility
  -moz-text-rendering optimizeLegibility
  -ms-text-rendering optimizeLegibility
  -o-text-rendering optimizeLegibility
  text-rendering optimizeLegibility
  &.no-scroll
    overflow hidden


.holder 
  margin 0 auto
  max-width 1010px
  width 100%


.align-top,
.align-middle,
.align-bottom 
  display inline-block
  float none
  margin-left -2px
  margin-right -2px


.align-top
  vertical-align top
.align-middle
  vertical-align middle
.align-bottom
  vertical-align bottom


.table-layout
  display table
  width 100%
.table-cell-layout
  display table-cell


/* Outer wrapper */
.outer-wrapper 
  margin-top 75px
  position relative


/* Block */
.block 
  padding 65px 0

  .header
    margin-bottom 35px

    .title
      margin-top 0
      text-align center
